<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.playball.mapper.PlayballEnrollMapper">
	
	<!-- SQL片段：getEnrollList 的 FROM 和 WHERE 部分 -->
	<sql id="getEnrollListSql">
		from playball_enroll pe
		left join playball_team pt on pe.team_id = pt.team_id
		left join playball_games  pg on pe.games_id = pg.id
		WHERE
		pe.del_flg = 0
        <if test="enrollPage.gamesName != null">
     		and pg.games_name LIKE concat(concat('%',#{enrollPage.gamesName}),'%')  
        </if>
        <if test="enrollPage.teamName != null">
     		and pt.t_name LIKE concat(concat('%',#{enrollPage.teamName}),'%')  
        </if>
	</sql>
	
	<!-- 获取赛事信息 -->
	<select id="getEnrollList"  resultType="org.jeecg.modules.playball.vo.PlayballEnrollPage">
		SELECT
			pe.id AS id,
			pe.team_id AS teamId,
			pe.games_id AS gamesId,
			pe.create_time AS createTime,
			pg.games_name AS gamesName,
			pt.t_name AS teamName,
			pt.t_image AS imageUrl
			<include refid="getEnrollListSql"/>
	</select>
	
	<!-- 查询 getUserByOrgCode 的总数-->
	<select id="getEnrollListTotal"  resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="getEnrollListSql"/>
	</select>
	
	<!--  通过赛事id获取报名队伍 -->
	<select id="getEnrollTeamByGamesId" resultType="org.jeecg.common.playball.entity.PlayballTeam">
		SELECT * FROM playball_team pt, playball_enroll pe where
		pt.team_id = pe.team_id and  pe.games_id = #{gamesId}
	</select>
	
	<!--  通过id获取报名参数队员 -->
	<select id="getEnrollPlayerById" resultType="org.jeecg.common.playball.vo.PlayballPlayerModel">
		SELECT
		pu.u_name AS userName,
		pu.u_nickName AS nickName,
		pu.u_headImage AS headImage,
		ptp.tp_clothes_number AS tpClothesNumber,
		psp.text AS positionName
		FROM playball.playball_enroll pe
		LEFT JOIN playball.playball_enroll_player pep ON pep.enroll_id = pe.id
		LEFT JOIN playball.playball_users pu ON pu.u_id = pep.user_id
		LEFT JOIN playball.playball_team_players ptp ON ptp.tp_id = pep.player_id
		LEFT JOIN playball.playball_sports_position psp ON psp.id = ptp.tp_position
		WHERE pe.id = #{id}
	</select>
	
</mapper>