<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.AppTeamMapper">
    <resultMap id="AppTeamResultMap" type="org.jeecg.modules.appapi.entity.AppTeam">
        <result column="team_id" jdbcType="INTEGER" property="team_id" />
        <result column="t_name" jdbcType="VARCHAR" property="t_name" />
        <result column="t_image" jdbcType="VARCHAR" property="t_image" />
        <result column="t_unitname" jdbcType="VARCHAR" property="t_unitname" />
        <result column="st_id" jdbcType="INTEGER" property="st_id" />
        <result column="t_players_total" jdbcType="INTEGER" property="t_players_total" />
        <result column="t_players_max" jdbcType="INTEGER" property="t_players_max" />
        <result column="t_introduce" jdbcType="VARCHAR" property="t_introduce" />
        <result column="t_win_total" jdbcType="INTEGER" property="t_win_total" />
        <result column="t_divide_total" jdbcType="INTEGER" property="t_divide_total" />
        <result column="t_lost_total" jdbcType="INTEGER" property="t_lost_total" />
        <result column="u_id" jdbcType="INTEGER" property="u_id" />
        <result column="t_province" jdbcType="INTEGER" property="t_province" />
        <result column="t_city" jdbcType="INTEGER" property="t_city" />
        <result column="t_district" jdbcType="INTEGER" property="t_district" />
        <result column="t_createTeamTime" jdbcType="TIMESTAMP" property="t_createTeamTime" />
        <result column="t_captain" jdbcType="INTEGER" property="t_captain" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="attack_value" jdbcType="INTEGER" property="attack_value" />
        <result column="defense_value" jdbcType="INTEGER" property="defense_value" />
        <result column="unite_value" jdbcType="INTEGER" property="unite_value" />
    </resultMap>

    <!-- 查询字段-->
    <sql id="AppTeam_Column_List">
        team_id,t_name,t_image,t_unitname,st_id,t_players_total,t_players_max,t_introduce,t_win_total,t_divide_total,t_lost_total,u_id,t_province,t_city,t_district,t_createTeamTime,t_captain,createTime,updateTime,is_delete,version,attack_value, defense_value,unite_value
    </sql>

    <!--条件分页查询-->
    <select id="selectByPage" parameterType="java.util.Map" resultMap="AppTeamResultMap">
        select
        <include refid="AppTeam_Column_List" />
        from playball_team
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <if test="key != 'PageSize' and key != 'PageNum' and key !='sortField' and key !='sortRule' and key !='searchValue'">
                <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
            </if>
        </foreach>
        <if test="params.searchValue !=null">
            and t_name  like concat(concat('%',#{params.searchValue}),'%')
        </if>
        and ISNULL(is_delete)
        <if test="params.sortField != null">
            order by ${params.sortField} ${params.sortRule}
        </if>

        LIMIT #{params.PageNum},#{params.PageSize}
    </select>

    <!--获取总条数-->
    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        COUNT(*)
        from playball_team
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <if test="key != 'PageSize' and key != 'PageNum' and key !='sortField' and key !='sortRule' and key !='searchValue'">
                <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
            </if>
        </foreach>
        <if test="params.searchValue !=null">
            and t_name  like concat(concat('%',#{params.searchValue}),'%')
        </if>
        and ISNULL(is_delete)
    </select>

    <!--条件查询-->
    <select id="selectByKey" parameterType="java.util.Map" resultMap="AppTeamResultMap">
        select
        <include refid="AppTeam_Column_List" />
        from playball_team
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
        </foreach>
    </select>


    <!--queryTeamByEnroll-->
    <select id="queryTeamByEnroll" parameterType="java.lang.Integer" resultMap="AppTeamResultMap">
        select
        pt.*
        FROM playball_team pt LEFT JOIN playball_enroll pe ON pe.team_id=pt.team_id WHERE pe.games_id=#{id,jdbcType=INTEGER}
    </select>
    <!--queryTeamByGameid-->
    <select id="queryTeamByGameid" parameterType="java.lang.Integer" resultMap="AppTeamResultMap">
        select
        pt.*
        FROM playball_team pt LEFT JOIN playball_game_schedule pgs ON pgs.team_id=pt.team_id WHERE pgs.games_id=#{id,jdbcType=INTEGER}
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="AppTeamResultMap">
        select
        <include refid="AppTeam_Column_List" />
        from playball_team where team_id = #{team_id,jdbcType=INTEGER} and ISNULL(is_delete)
    </select>

    <!--isCaptain-->
    <select id="isCaptain" parameterType="java.lang.Integer" resultMap="AppTeamResultMap">
        select
        <include refid="AppTeam_Column_List" />
        from playball_team where t_captain = #{u_id,jdbcType=INTEGER} and ISNULL(is_delete)
    </select>


    <!--根据ID查询-->
    <select id="selectTeamScoreInfoById" parameterType="java.lang.Integer"  resultType="org.jeecg.modules.appapi.entity.vo.TeamScoreInfoVo" >
        SELECT
	b.team_id as teamId,
	b.rownum,
	round(b.t_win_total / ( b.t_win_total + b.t_divide_total + b.t_lost_total ),2) AS win
FROM
	(
	SELECT
		t.*,
		@rownum := @rownum + 1 AS rownum
	FROM
		( SELECT @rownum := 0 ) r,
		( SELECT * FROM playball_team ORDER BY t_win_total / ( t_win_total + t_divide_total + t_lost_total ) DESC ) AS t
	) AS b
WHERE
	b.team_id = #{id,jdbcType=INTEGER}
    </select>
    <!--删 根据ID-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from playball_team where team_id = #{team_id,jdbcType=INTEGER}
    </delete>
    <!--增 返回ID-->
    <insert id="insert"  useGeneratedKeys="true" keyProperty="team_id" parameterType="org.jeecg.modules.appapi.entity.AppTeam">
        insert into playball_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="team_id != null">
                team_id,
            </if>
            <if test="t_name != null">
                t_name,
            </if>
            <if test="t_image != null">
                t_image,
            </if>
            <if test="t_unitname != null">
                t_unitname,
            </if>
            <if test="st_id != null">
                st_id,
            </if>
            <if test="t_players_total != null">
                t_players_total,
            </if>
            <if test="t_players_max != null">
                t_players_max,
            </if>
            <if test="t_introduce != null">
                t_introduce,
            </if>
            <if test="t_win_total != null">
                t_win_total,
            </if>
            <if test="t_divide_total != null">
                t_divide_total,
            </if>
            <if test="t_lost_total != null">
                t_lost_total,
            </if>
            <if test="u_id != null">
                u_id,
            </if>
            <if test="t_province != null">
                t_province,
            </if>
            <if test="t_city != null">
                t_city,
            </if>
            <if test="t_district != null">
                t_district,
            </if>
            <if test="t_createTeamTime != null">
                t_createTeamTime,
            </if>
            <if test="t_captain != null">
                t_captain,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="is_delete != null">
                is_delete,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="team_id != null">
                #{team_id,jdbcType=INTEGER},
            </if>
            <if test="t_name != null">
                #{t_name,jdbcType=VARCHAR},
            </if>
            <if test="t_image != null">
                #{t_image,jdbcType=VARCHAR},
            </if>
            <if test="t_unitname != null">
                #{t_unitname,jdbcType=VARCHAR},
            </if>
            <if test="st_id != null">
                #{st_id,jdbcType=INTEGER},
            </if>
            <if test="t_players_total != null">
                #{t_players_total,jdbcType=INTEGER},
            </if>
            <if test="t_players_max != null">
                #{t_players_max,jdbcType=INTEGER},
            </if>
            <if test="t_introduce != null">
                #{t_introduce,jdbcType=VARCHAR},
            </if>
            <if test="t_win_total != null">
                #{t_win_total,jdbcType=INTEGER},
            </if>
            <if test="t_divide_total != null">
                #{t_divide_total,jdbcType=INTEGER},
            </if>
            <if test="t_lost_total != null">
                #{t_lost_total,jdbcType=INTEGER},
            </if>
            <if test="u_id != null">
                #{u_id,jdbcType=INTEGER},
            </if>
            <if test="t_province != null">
                #{t_province,jdbcType=INTEGER},
            </if>
            <if test="t_city != null">
                #{t_city,jdbcType=INTEGER},
            </if>
            <if test="t_district != null">
                #{t_district,jdbcType=INTEGER},
            </if>
            <if test="t_createTeamTime != null">
                #{t_createTeamTime,jdbcType=TIMESTAMP},
            </if>
            <if test="t_captain != null">
                #{t_captain,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="is_delete != null">
                #{is_delete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--更新-->
    <update id="update" parameterType="org.jeecg.modules.appapi.entity.AppTeam">
        update playball_team
        <set>

            <if test="t_name != null">
                t_name=#{t_name,jdbcType=VARCHAR},
            </if>
            <if test="t_image != null">
                t_image=#{t_image,jdbcType=VARCHAR},
            </if>
            <if test="t_unitname != null">
                t_unitname=#{t_unitname,jdbcType=VARCHAR},
            </if>
            <if test="st_id != null">
                st_id=#{st_id,jdbcType=INTEGER},
            </if>
            <if test="t_players_total != null">
                t_players_total=#{t_players_total,jdbcType=INTEGER},
            </if>
            <if test="t_players_max != null">
                t_players_max=#{t_players_max,jdbcType=INTEGER},
            </if>
            <if test="t_introduce != null">
                t_introduce=#{t_introduce,jdbcType=VARCHAR},
            </if>
            <if test="t_win_total != null">
                t_win_total=#{t_win_total,jdbcType=INTEGER},
            </if>
            <if test="t_divide_total != null">
                t_divide_total=#{t_divide_total,jdbcType=INTEGER},
            </if>
            <if test="t_lost_total != null">
                t_lost_total=#{t_lost_total,jdbcType=INTEGER},
            </if>
            <if test="u_id != null">
                u_id=#{u_id,jdbcType=INTEGER},
            </if>
            <if test="t_province != null">
                t_province=#{t_province,jdbcType=INTEGER},
            </if>
            <if test="t_city != null">
                t_city=#{t_city,jdbcType=INTEGER},
            </if>
            <if test="t_district != null">
                t_district=#{t_district,jdbcType=INTEGER},
            </if>
            <if test="t_createTeamTime != null">
                t_createTeamTime=#{t_createTeamTime,jdbcType=TIMESTAMP},
            </if>
            <if test="t_captain != null">
                t_captain=#{t_captain,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="is_delete != null">
                is_delete=#{is_delete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version=#{version,jdbcType=INTEGER},
            </if>
            <if test="deliverAddress != null">
                deliverAddress=#{deliverAddress,jdbcType=VARCHAR},
            </if>
        </set>
        where team_id = #{team_id,jdbcType=INTEGER}

    </update>

    <select id="querTeamByMyApply" parameterType="java.lang.Integer" resultMap="AppTeamResultMap">
        SELECT pt.*  FROM playball_team pt LEFT JOIN playball_join_quit_team_apply pjqt ON pjqt.team_id=pt.team_id WHERE pjqt.u_id=#{uId} AND ISNULL(pt.is_delete)
    </select>
</mapper>