<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.EnrollPlayerMapper">
    <!--删 根据ID-->
    <delete id="deleteByTeamId" parameterType="java.lang.Integer">
        DELETE pep FROM playball_enroll_player pep LEFT JOIN playball_team_players ptp on ptp.tp_id=pep.player_id WHERE ptp.team_id = #{team_id,jdbcType=INTEGER}
    </delete>
</mapper>