<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.GameMapper">

    <select id="queryByFieldId"  parameterType="java.lang.Integer" resultType="org.jeecg.modules.appapi.entity.Game">
        select * from playball_games where field_id=#{id,jdbcType=INTEGER}
    </select>

    <select id="queryByBid"  parameterType="java.lang.String" resultType="org.jeecg.modules.appapi.entity.Game">
        SELECT pg.* FROM playball_games pg LEFT JOIN playball_field_info pfi ON pfi.id=pg.field_id WHERE pfi.business_id=#{id,jdbcType=INTEGER}
    </select>
</mapper>