<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.JoinQuitTeamApplyMapper">
    <resultMap id="JoinQuitTeamApplyResultMap" type="org.jeecg.modules.appapi.entity.JoinQuitTeamApply">
         <result column="jqta_id" jdbcType="INTEGER" property="jqta_id" />
         <result column="team_id" jdbcType="INTEGER" property="team_id" />
         <result column="u_id" jdbcType="INTEGER" property="u_id" />
         <result column="jqta_type" jdbcType="INTEGER" property="jqta_type" />
         <result column="jqta_handleTime" jdbcType="TIMESTAMP" property="jqta_handleTime" />
         <result column="jqta_result" jdbcType="INTEGER" property="jqta_result" />
         <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
         <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
         <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
         <result column="version" jdbcType="INTEGER" property="version" />
         <result column="position" jdbcType="INTEGER" property="position" />
    </resultMap>

    <!-- 查询字段-->
    <sql id="JoinQuitTeamApply_Column_List">
        jqta_id,team_id,u_id,jqta_type,jqta_handleTime,jqta_result,createTime,updateTime,is_delete,version,position
    </sql>

    <!--条件分页查询-->
    <select id="selectByPage" parameterType="java.util.Map" resultMap="JoinQuitTeamApplyResultMap">
        select
        <include refid="JoinQuitTeamApply_Column_List" />
        from playball_join_quit_team_apply
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <if test="key != 'PageSize' and key != 'PageNum' and key !='sortField' and key !='sortRule' ">
         <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
            </if>
        </foreach>
        <if test="params.sortField != null">
            order by ${params.sortField} ${params.sortRule}
        </if>
        LIMIT #{params.PageNum},#{params.PageSize}
    </select>

    <!--获取总条数-->
    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        COUNT(*)
        from playball_join_quit_team_apply
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <if test="key != 'PageSize' and key != 'PageNum' and key !='sortField' and key !='sortRule' ">
                <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
            </if>
        </foreach>
    </select>


    <!--条件查询-->
    <select id="selectByKey" parameterType="java.util.Map" resultMap="JoinQuitTeamApplyResultMap">
        select
        <include refid="JoinQuitTeamApply_Column_List" />
        from playball_join_quit_team_apply
        where 1=1
        <foreach collection="params.keys" item="key" open=" " close=" " separator=" " >
            <![CDATA[   and ${key} =  #{params[${key}]}  ]]>
        </foreach>
    </select>
    <!--条件查询-->
    <select id="selectIsApply" parameterType="java.util.Map" resultMap="JoinQuitTeamApplyResultMap">
        SELECT * from playball_join_quit_team_apply WHERE is_delete=0 AND jqta_result!=2
        AND team_id =#{params.team_id} AND u_id=#{params.u_id}
    </select>

    <!--根据ID查询-->
    <select id="queryJoinQuitTeamApply" parameterType="java.util.Map" resultType="org.jeecg.modules.appapi.entity.vo.JQTeamApplyVo">
        SELECT
	pu.u_id,
	pu.u_name name,
	pu.u_nickName nickName,
	pu.u_headImage headImage,
	pjqt.jqta_id,
	pjqt.team_id,
	pjqt.position
FROM
	playball_join_quit_team_apply pjqt
	LEFT JOIN playball_users pu ON pu.u_id = pjqt.u_id
WHERE
	  pjqt.jqta_result=0 and pjqt.jqta_type =#{params.jqtaType,jdbcType=INTEGER}
	  <if test="params.playerName!='' and params.playerName!=null">
          and (pu.u_name like concat(concat('%',#{params.playerName}),'%') or  pu.u_nickName like concat(concat('%',#{params.playerName}),'%') )
      </if>
    </select>
    <!--根据ID查询-->
    <select id="selectById" parameterType="java.lang.Integer" resultMap="JoinQuitTeamApplyResultMap">
        select
        <include refid="JoinQuitTeamApply_Column_List" />
        from playball_join_quit_team_apply
 where jqta_id = #{jqta_id,jdbcType=INTEGER}
    </select>
    <!--删 根据ID-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from playball_join_quit_team_apply where jqta_id = #{jqta_id,jdbcType=INTEGER}
    </delete>
    <!--删 根据ID-->
    <delete id="deleteByTeamId" parameterType="java.lang.Integer">
        delete from playball_join_quit_team_apply where team_id = #{team_id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByUId" parameterType="java.lang.Integer">
        delete from playball_join_quit_team_apply where u_id = #{u_id,jdbcType=INTEGER}
    </delete>
    <!--增 返回ID-->
    <insert id="insert"  useGeneratedKeys="true" keyProperty="jqta_id" parameterType="org.jeecg.modules.appapi.entity.JoinQuitTeamApply">
        insert into playball_join_quit_team_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="team_id != null">
                team_id,
            </if>
            <if test="u_id != null">
                u_id,
            </if>
            <if test="jqta_type != null">
                jqta_type,
            </if>
            <if test="jqta_handleTime != null">
                jqta_handleTime,
            </if>
            <if test="jqta_result != null">
                jqta_result,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="is_delete != null">
                is_delete,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="position != null">
                position,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="team_id != null">
                #{team_id,jdbcType=INTEGER},
            </if>
            <if test="u_id != null">
                #{u_id,jdbcType=INTEGER},
            </if>
            <if test="jqta_type != null">
                #{jqta_type,jdbcType=INTEGER},
            </if>
            <if test="jqta_handleTime != null">
                #{jqta_handleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="jqta_result != null">
                #{jqta_result,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="is_delete != null">
                #{is_delete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                #{position,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--更新-->
    <update id="update" parameterType="org.jeecg.modules.appapi.entity.JoinQuitTeamApply">
        update playball_join_quit_team_apply
        <set>
            <if test="team_id != null">
                team_id=#{team_id,jdbcType=INTEGER},
            </if>
            <if test="u_id != null">
                u_id=#{u_id,jdbcType=INTEGER},
            </if>
            <if test="jqta_type != null">
                jqta_type=#{jqta_type,jdbcType=INTEGER},
            </if>
            <if test="jqta_handleTime != null">
                jqta_handleTime=#{jqta_handleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="jqta_result != null">
                jqta_result=#{jqta_result,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="is_delete != null">
                is_delete=#{is_delete,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version=#{version,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                position=#{position,jdbcType=INTEGER},
            </if>
        </set>
        where jqta_id = #{jqta_id,jdbcType=INTEGER}
    </update>

</mapper>