<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.PlayballBalanceDetaileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.appapi.entity.PlayballBalanceDetaile">
        <id column="bde_id" property="bdeId" />
        <result column="bde_ub_id" property="bdeUbId" />
        <result column="bde_consume" property="bdeConsume" />
        <result column="bde_number" property="bdeNumber" />
        <result column="bde_consume_name" property="bdeConsumeName" />
        <result column="bde_pay_method" property="bdePayMethod" />
        <result column="bde_pay_state" property="bdePayState" />
        <result column="bde_rec_wit" property="bdeRecWit" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
