<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.PlayballUserDynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.appapi.entity.PlayballUserDynamic">
        <id column="udy_id" property="udyId" />
        <result column="udy_user_id" property="udyUserId" />
        <result column="udy_content" property="udyContent" />
        <result column="udy_resources" property="udyResources" />
        <result column="udy_res_type" property="udyResType" />
        <result column="udy_position" property="udyPosition" />
        <result column="udy_visible" property="udyVisible" />
        <result column="udy_draft" property="udyDraft" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>
    
    <select id="selectDynList" parameterType="org.jeecg.modules.appapi.entity.vo.PlayballUserDynamicVo" resultMap="ResultMap">
    	SELECT d.* ,u.u_id ,u.u_nickName,u.u_headImage FROM playball_user_dynamic d
		INNER JOIN playball_users u
		ON d.udy_user_id = u.u_id
    </select>
    
    <resultMap id="ResultMap" type="org.jeecg.modules.appapi.entity.bo.PlayballUserDynamicBo">
        <id column="udy_id" property="udyId" />
        <result column="udy_user_id" property="udyUserId" />
        <result column="udy_content" property="udyContent" />
        <result column="udy_resources" property="udyResources" />
        <result column="udy_res_type" property="udyResType" />
        <result column="udy_position" property="udyPosition" />
        <result column="udy_visible" property="udyVisible" />
        <result column="udy_draft" property="udyDraft" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
        
        <result column="u_id" property="uId" />
        <result column="u_headImage" property="uHeadImage" />
        <result column="u_nickName" property="uNickName" />
    </resultMap>

</mapper>
