<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.PlayballUserCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.appapi.entity.PlayballUserCollect">
        <id column="uco_id" property="ucoId" />
        <result column="uco_collected_id" property="ucoCollectedId" />
        <result column="uco_u_id" property="ucoUId" />
        <result column="uco_sort" property="ucoSort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>
    
    <!-- 更新收藏删除状态 -->
    <update id="updateStart" parameterType="java.lang.Integer">
    	UPDATE playball_user_collect SET deleted = 0 WHERE uco_id = #{id}
    </update>
    
    <select id="selectIsEntity" parameterType="org.jeecg.modules.appapi.entity.PlayballUserCollect" resultMap="BaseResultMap">
    	SELECT * FROM playball_user_collect WHERE uco_collected_id = #{ucoCollectedId}
    	 AND uco_u_id = #{ucoUId} AND uco_sort = #{ucoSort}
    </select>

</mapper>
