<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.PlayballUserReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.appapi.entity.PlayballUserReply">
        <id column="ure_id" property="ureId" />
        <result column="ure_ucoid" property="ureUcoid" />
        <result column="user_id" property="userId" />
        <result column="ure_content" property="ureContent" />
        <result column="ure_sort" property="ureSort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>
    
    <!-- 查询回复 -->
    <select id="selectReplyList" parameterType="org.jeecg.modules.appapi.entity.vo.PlayballUserReplyVo" resultMap="ResultMap">
		SELECT r.*,u.u_id ,u.u_nickName,u.u_headImage FROM playball_user_reply r
		INNER JOIN playball_users u
		ON r.user_id = u.u_id
		WHERE r.ure_ucoid = #{vo.ureUcoid}
		ORDER BY r.create_time DESC 
    </select>
    
    <!-- 通用查询映射结果 -->
    <resultMap id="ResultMap" type="org.jeecg.modules.appapi.entity.bo.PlayballUserReplyBo">
        <id column="ure_id" property="ureId" />
        <result column="ure_ucoid" property="ureUcoid" />
        <result column="user_id" property="userId" />
        <result column="ure_content" property="ureContent" />
        <result column="ure_sort" property="ureSort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
        
        <result column="u_id" property="uId" />
        <result column="u_headImage" property="uHeadImage" />
        <result column="u_nickName" property="uNickName" />
    </resultMap>

    <select id="getReplyMeData" parameterType="org.jeecg.modules.appapi.entity.vo.PlayballUserReplyVo" resultType="org.jeecg.modules.appapi.entity.bo.ReplyMeData">
        SELECT
	*
FROM
	(
		(
		SELECT
			pu.u_nickName nickName,
			pu.u_headImage headImage,
			puc.uco_content content,
			puc.uco_sort type,
			puc.uco_becom_id becomId,
			puc.create_time createTime
		FROM
			playball_user_comment puc
			LEFT JOIN playball_user_dynamic pud ON pud.udy_id = puc.uco_becom_id
			LEFT JOIN playball_users pu ON pu.u_id = puc.user_id
		WHERE
			pud.udy_user_id = #{vo.uId}
		) UNION ALL
		(
		SELECT
			pu.u_nickName nickName,
			pu.u_headImage headImage,
			pur.ure_content content,
			puc.uco_sort type,
			puc.uco_becom_id becomId,
			pur.create_time createTime
		FROM
			playball_user_reply pur
			LEFT JOIN playball_user_comment puc ON pur.ure_ucoid = puc.uco_id
			LEFT JOIN playball_users pu ON pu.u_id = pur.user_id
		WHERE
			puc.user_id = #{vo.uId}
		)
	) AS abc
ORDER BY
	abc.createTime DESC
    </select>
</mapper>
