<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.appapi.mapper.PlayballOrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.appapi.entity.PlayballOrders">
        <id column="ord_id" property="ordId" />
        <result column="ord_user_id" property="ordUserId" />
        <result column="ord_goods_id" property="ordGoodsId" />
        <result column="ord_goods_name" property="ordGoodsName" />
        <result column="cpr_price" property="cprPrice" />
        <result column="cpr_number" property="cprNumber" />
        <result column="cpr_type" property="cprType" />
        <result column="cpr_state" property="cprState" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
    </resultMap>
    
    <select id="getOrdersList" parameterType="org.jeecg.modules.appapi.entity.vo.PlayballOrdersVo" resultMap="BaseResult">
    	<if test="o.cprState!=null and o.cprState==1">
	    	SELECT o.*,d.depart_name,f.image_url,fr.fri_tiem_ranges,f.business_id,e.ord_id AS isAssess FROM playball_orders o 
			INNER JOIN playball_field_info f
			ON o.ord_goods_id = f.id
			INNER JOIN sys_depart d
			ON f.business_id = d.id
			INNER JOIN playball_field_reserve_info fr
			ON fr.orm_id = o.ord_id
			LEFT JOIN playball_business_evaluation e
			ON o.ord_id=e.ord_id
			WHERE o.ord_user_id = #{o.ordUserId} AND o.cpr_type = #{o.cprType} AND o.cpr_state = #{o.cprState}
    		ORDER BY o.create_time DESC
    	</if>
    	<if test="o.cprState!=null and o.cprState==2">
    		SELECT o.*,d.depart_name,f.image_url,f.business_id FROM playball_orders o 
			INNER JOIN playball_field_info f
			ON o.ord_goods_id = f.id
			INNER JOIN sys_depart d
			ON f.business_id = d.id
			WHERE o.ord_user_id = #{o.ordUserId} AND o.cpr_type = #{o.cprType} AND o.cpr_state = #{o.cprState}
    		ORDER BY o.create_time DESC
    	</if>
    </select>
    
    <!-- 连表映射结果 -->
    <resultMap id="BaseResult" type="org.jeecg.modules.appapi.entity.bo.PlayballOrdersBo">
        <id column="ord_id" property="ordId" />
        <result column="ord_user_id" property="ordUserId" />
        <result column="ord_goods_id" property="ordGoodsId" />
        <result column="ord_goods_name" property="ordGoodsName" />
        <result column="cpr_price" property="cprPrice" />
        <result column="cpr_number" property="cprNumber" />
        <result column="cpr_type" property="cprType" />
        <result column="cpr_state" property="cprState" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version" property="version" />
        
        <result column="depart_name" property="departName" />
        <result column="image_url" property="imageUrl" />
        <result column="fri_tiem_ranges" property="friTiemRanges" />
        <result column="isAssess" property="isAssess" />
    </resultMap>

</mapper>
